.container-cart{

}

.table{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table th, .table td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table tr:hover{
    background-color: #61616150;
}
